<div class="footer commonSec">
  <h4 class="site_Head">con<span>tact</span>us</h4>
  <div class="footer-sec">
    <div class="footerCard">
      <p><i class="fa-solid fa-location-dot"></i>
        E-193, Sector-23, Sanjay Nagar, Ghaziabad</p>
      <p><i class="fa-solid fa-phone-volume"></i> 9718164715 <br>
        9716162770</p>
    </div>
    <div class="footerCard">
      <p><i class="fa-solid fa-location-dot"></i>
        E-193, Sector-23, Sanjay Nagar, Ghaziabad</p>
      <p><i class="fa-solid fa-phone-volume"></i> 9718164715 <br>
        9716162770</p>
    </div>
    <div class="footerCard">
      <p><i class="fa-solid fa-location-dot"></i>
        E-193, Sector-23, Sanjay Nagar, Ghaziabad</p>
      <p><i class="fa-solid fa-phone-volume"></i> 9718164715 <br>
        9716162770</p>
    </div>
  </div>
</div>
