<div class="aboutSec commonSec">
  <div class="aboutLft">
    <div class="abtBG"></div>
    <img src="https://kfd.pixelpitara.com/img/product7.png" alt="">
  </div>
  <div class="aboutRight">
    <p>From historical icons to vibrant traditions, from superheroes to beloved personalities our outfits are perfect
      for creating memorable moments on stage. <br>
      Krishna Fancy Dress is a full dress rental service in Ghaziabad. We offer a wide selection of premium quality
      fancy dress costumes and outfits for kids, both for rent and sale. Our costumes are guaranteed to be hygienic and
      easy to rent. We also supply gifts and return gifts at a reasonable rate.</p>
    <h2>Be Fabulous,<br>
      Be Unique</h2>
  </div>
</div>
