<section class="krishnaFancy">
  <div class="siteHeader">
    <a href="#" style="min-height: 5rem;"><img src="https://kfd.pixelpitara.com/img/logo.png" alt=""></a>
    <ul>
      <li><a href="#">H<span>ome</span></a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <span class="callSpan">
      <a href="#"><i class="fa-solid fa-phone-volume">&nbsp;9899542028</i></a>
    </span>
    <span class="socialSpan">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i>
      </a> </span>

  </div>
</section>
