<div class="categoriesSec commonSec">
  <h4 class="site_Head">
    Cat<span>ego</span>ries
  </h4>
  <div class="categoriesGrid">
    <a href="#" class="categoryCard"><img src="https://kfd.pixelpitara.com/img/categories/category1.png" alt="">
      <h5>Mythological</h5>
    </a>
    <a href="#" class="categoryCard"><img src="https://kfd.pixelpitara.com/img/categories/category2.png" alt="">
      <h5>Fruits and vegetables</h5>
    </a>
    <a href="#" class="categoryCard"><img src="https://kfd.pixelpitara.com/img/categories/category3.png" alt="">
      <h5>animals and birds</h5>
    </a><a href="#" class="categoryCard"><img src="https://kfd.pixelpitara.com/img/categories/category4.png" alt="">
      <h5>freedom fighter, historical <br>characters & <br> community helpers</h5>
    </a>
    <a href="#" class="categoryCard"><img src="https://kfd.pixelpitara.com/img/categories/category5.png" alt="">
      <h5>indian states, folk & western dances</h5>
    </a>
    <a href="#" class="categoryCard"><img src="https://kfd.pixelpitara.com/img/categories/category6.png" alt="">
      <h5>cartoons & superheroes</h5>
    </a>
  </div>
</div>
<div class="sec_divider"></div>
