<div class="busInfoSec commonSec">
  <div class="busCard">

    <img src="https://kfd.pixelpitara.com/img/layer_35.png" alt="">
    <h5>premium quality <br> c<span>ostume</span>s</h5>
    <p>Providing a range of Premium Quality Costumes for Every Occassion</p>
  </div>
  <div class="busCard">
    <img src="https://kfd.pixelpitara.com/img/layer_34.png" alt="">
    <h5>Easy rental <br> p<span>rocess</span></h5>
    <p>Experience the Convienience of an Easy and Seamless Rental Process</p>
  </div>
  <div class="busCard">
    <img src="https://kfd.pixelpitara.com/img/layer_22.png" alt="">
    <h5>hygiene <br>guar<span>ante</span>ed
    </h5>
    <p>Ensuring Peace of Mind: Our Hygiene Guarantee for Every Costume</p>
  </div>
</div>
<div class="sec_dividerSecondary"></div>
